.btn {
  padding: 8px 16px;
  background-color: #dc3545;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}
.btnStart {
  padding: 8px 16px;
  background-color: #dc3545;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 250px;
}
